<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoClosingMessageBox" version="1.0.0.2" targetFramework="net461" />
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net461" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net461" />
  <package id="CefSharp.Common" version="98.1.210" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="75.1.142" targetFramework="net461" />
  <package id="DotNetZip" version="1.13.4" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="FluentFTP" version="27.1.1" targetFramework="net461" />
  <package id="Ghostscript.NET" version="1.2.1" targetFramework="net461" />
  <package id="iTextSharp.LGPLv2.Core.Fix" version="1.4.3" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net45" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="PresentationFramework" version="4.6.0" targetFramework="net45" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.111.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.111.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net461" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net45" />
</packages>