<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AccentBase_Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <AccentBase_Updater.Properties.Settings>
      <setting name="LocalPath" serializeAs="String">
        <value>C:\Oabase</value>
      </setting>
      <setting name="CurrentVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="Error" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FtpServer" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FtpLogin" serializeAs="String">
        <value>accent</value>
      </setting>
      <setting name="FtpPass" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FtpData" serializeAs="String">
        <value>Update\Data</value>
      </setting>
      <setting name="FtpProgram" serializeAs="String">
        <value>Update\Program</value>
      </setting>
      <setting name="CurrentUpdateFileName" serializeAs="String">
        <value />
      </setting>
    </AccentBase_Updater.Properties.Settings>
  </userSettings>
</configuration>